name: Cargo Build & Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - Build and Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain: [ stable ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

      - name: Build
        run: cargo build --verbose --all-targets --all-features

      - name: Run Clippy
        run: cargo clippy --package benchmark --all-targets --all-features -- -D warnings

      - name: Test
        run: cargo test --verbose
